<section class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nulla, quidem laborum, 
        velit explicabo quaerat id facilis dignissimos recusandae fuga mollitia dolor quos excepturi molestias alias,
        non iusto aut cupiditate.</p>
</div>
</section>