<div class="jumbotron mt-4">
    <h1 class="display-4">Notas en node js</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cumque,
                    est dolores at voluptatibus nostrum, non illum deleniti vitae animi, dignissimos commodi
                    voluptas consectetur beatae architecto repudiandae voluptate laborum quod?</p>
                    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vel explicabo. Atque iusto alias eaque
    tenetur pariatur porro deserunt dicta recusandae exercitationem.
    Ducimus accusamus eius enim minima, maxime explicabo perferendis.</p>
    <a href="" class="btn btn-primary">Marvin</a>
</div>
